.note-item{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;
   max-width: 200px;
   margin: 10px;
   padding: 10px;
   border-radius: 10px;
}

h2{
   margin-right: 10px;
   /* width: 100px; */
   text-align: center;
}

.note-but{
   margin: 0 auto;
      background-color: #38598b;
      border: none;
      color: #fff;
      font-size: 18px;
      font-weight: 600;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      padding: 5px;
}